/* You can add global styles to this file, and also import other style files */
/*.bar {
    display: inline-block;
    width: 20px;
    height: 100px;   /* We'll override this later */


#output {
  margin-top: 100px;
}
